#!/usr/bin/make -f
version=2.0.5
major=2

configure: configure-stamp
configure-stamp:
	dh_testdir

	# Build miniruby
	cd src/thirdparty/mruby && ruby ./minirake test

    # Build makefiles for entire project
	cmake .

	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir

    # mod_mod-gate: clean build from mod-gate-dev and make new mod_rso.so
	cd src && $(MAKE)

clean:
	dh_testdir
	dh_testroot
    # Build makefiles for entire project
	cmake .
	rm -f build-stamp configure-stamp
	rm -rf debian/mod-gate
	rm -rf debian/mod-gate-git
	rm -rf CMakeFiles
	rm -rf CMakeCache.txt

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	dh_installchangelogs 

    #---------------------------------------------------------------------------
    # mod-gate
    #---------------------------------------------------------------------------

	cd src && $(MAKE) DESTDIR=$(CURDIR)/debian/mod-gate install
	mkdir -p $(CURDIR)/debian/mod-gate/etc/apache2/mods-available
	cp debian/config/mod_gate.conf $(CURDIR)/debian/mod-gate/etc/apache2/mods-available/gate.conf
	cp debian/config/mod_gate.load $(CURDIR)/debian/mod-gate/etc/apache2/mods-available/gate.load

    #---------------------------------------------------------------------------
    # mod-gate-git
    #---------------------------------------------------------------------------

	cd $(CURDIR)/debian/mod-gate-git &&    \
       $(CURDIR)/debian/scripts/gitlink.sh \
       $(CURDIR)/debian/mod_gate-git.gitmap mod_gate

	dh_installdocs

binary-indep: build install
# We have nothing to do by default.

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_strip
	dh_link
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
